.inputGroup {
  margin-bottom: 15px;
  width: 100%;
}

.inputField {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

.button:disabled {
  background-color: #ccc;
}

.errorMessage {
  color: var(--warning-color);
  font-size: 12px;
  margin-top: 5px;
}
